In [27]:
import os 
import pandas as pd 
import urllib.request
import csv


from konlpy.tag import Mecab

In [11]:
directory = os.getenv('HOME') + '/aiffel/aiffelthon/'

In [15]:
df = pd.read_csv(directory + 'meta_eng_raw_0306_v1.csv')

/opt/conda/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949888 entries, 0 to 949887
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   text              949888 non-null  object
 1   dial              949888 non-null  object
 2   eng               949888 non-null  object
 3   title             949888 non-null  object
 4   creator           949888 non-null  object
 5   distributor       949706 non-null  object
 6   year              949888 non-null  object
 7   category          949706 non-null  object
 8   annotation_level  949888 non-null  object
 9   sampling          949417 non-null  object
 10  author            925576 non-null  object
 11  publisher         925576 non-null  object
 12  date              949888 non-null  object
 13  topic             949888 non-null  object
 14  age               949888 non-null  object
 15  sex               949888 non-null  object
 16  prin_res          949888 non-null  object
 17  curr_res          949888 non-null  object
 18  age2              659954 non-null  object
 19  sex2              659954 non-null  object
 20  prin_res2         659954 non-null  object
 21  curr_res2         659954 non-null  object
 22  stdn              949888 non-null  object
 23  eojeol_stdn       949888 non-null  object
 24  reg               949888 non-null  object
dtypes: object(25)
memory usage: 181.2+ MB

In [37]:
df[['text','dial','eng']]

,text,dial,eng
0,생각이 쪼금씩 바뀌더라고,생각이 쪼금씩 바뀌드라고,I've changed my mind a little bit.
1,어 알겠는가 외국인들이 그래도 잘 적응하고,어 알겄는가 외국인들이 그래도 잘 적응하고,You know what? Foreigners still get used to it.
2,아으 갑자기 예전에 맹장 뜯은 게 생각난다.,아으 갑자기 예전에 맹장 뜯은 게 생각난디야.,"All of a sudden, I think I've ripped off my ap..."
3,보면은 조금 품위 있게 나이 들어가야 되겠단 생각을 참 많이 해요.,보면은 쫌 품위 있게 나이 들어가야 되겠단 생각을 참 많이 해요.,I have a lot of ideas about getting older in a...
4,약간 조금 약간 맛이 쪼끔 거시기 하긴 한데 그래도,약간 쫌 약간 맛이 쪼끔 거시기 하긴 한데 그래도,"It's a little bit of a tastey, but still..."
...,...,...,...
949883,뭐~ 맨날 집에서 인제 음식도 그냥 가까운 데 나가서 먹는 게 아니라 되게 시켜먹는...,뭐~ 맨날 집에서 인제 음식도 그냥 가까운 데 나가서 먹는 게 아니라 되게 시켜먹는...,I suppose I dont just go out to the nearest pl...
949884,너는 만약에 그런 시대가 오면 네가 어떻게 활동할 것 같애?,너는 만약에 그런 시대가 오면 니가 어떻게 활동할 것 같애?,How do you think you will be active when that ...
949885,하이브도 있고 #조석 작가 이제 조의 영역이라는 웹툰도 있고 마음의 소리도 있는데,하이브도 있고 조석 작가 이제 조의 영역이라는 웹툰도 있고 마음의 소리도 있는디,There is a hive a webtoon called the area of J...
949886,추석도 친척들도 사촌까지만 모이긴 했는데 이~ 다 모이니까 할 말도 많고 이~,추석도 친척들도 사촌까지만 모이긴 했는데 이~ 다 모이난이 할 말도 많고 이~,On Chuseok relatives and cousins only gathered...
949887,커피숍 가서 이렇게 먹고 하는 거가 훨씬 맛있거든 기분상으로도 그렇고,커피숍 가서 이케 먹고 하는 거가 훨씬 맛있거든 기분상으로도 그렇고,Its much better to eat at a coffee shop and it...

In [21]:
with open('raw_data_text.txt', 'w', encoding='utf8') as f:
    f.write('\n'.join(df['text']))

## sentencepiece 
- 센텐스피스는 사전 토큰화 작업없이 단어 분리 토큰화를 수행하므로 언어에 종속되지 않습니다.
- vocal_size : 너무 적으면 한 글자 단위로 쪼개지는 경향이 있고, 너무 많으면 쓸데없는 단어들이 만들어진다. 주로 3,2000이 가장 좋다고 알려져 있다.
- model_type : bpe, unigram 등이 있는데 두가지를 모두 사용해 보고 성능이 좋은 거 사용

In [10]:
# ! pip install sentencepiece

In [9]:
import sentencepiece as spm

In [41]:
spm.SentencePieceTrainer.Train(input='raw_data_text.txt', model_prefix='text', vocab_size=5000 ,model_type='bpe' , max_sentence_length=1000)

In [42]:
vocab_list = pd.read_csv('text.vocab', sep='\t', header=None, quoting=csv.QUOTE_NONE)
vocab_list.sample(10)

         0     1
2527   ▁아닙 -2524
3068   ▁눈을 -3065
3679     런 -3676
690     ▁행  -687
1009   ▁넘어 -1006
29      ▁한   -26
1271    ▁쇼 -1268
2270  ▁진짜로 -2267
2924  ▁키우는 -2921
2525    질이 -2522

In [43]:
len(vocab_list)

5000

In [44]:
sp = spm.SentencePieceProcessor()
vocab_file = "text.model"
sp.load(vocab_file)

True

In [45]:
lines = [
  "생각이 쪼금씩 바뀌더라고",
  "I've changed my mind a little bit."  
]

for line in lines:
  print(line)
  print(sp.encode_as_pieces(line))
  print(sp.encode_as_ids(line))
  print()

생각이 쪼금씩 바뀌더라고
['▁생각이', '▁쪼금', '씩', '▁바뀌', '더라고']
[402, 935, 3950, 790, 115]

I've changed my mind a little bit.
['▁', "I'v", 'e', '▁', 'c', 'h', 'a', 'n', 'g', 'e', 'd', '▁', 'm', 'y', '▁', 'm', 'i', 'n', 'd', '▁', 'a', '▁', 'littl', 'e', '▁', 'bit', '.']
[3634, 0, 4620, 3634, 4845, 0, 4523, 4551, 0, 4620, 4971, 3634, 4550, 4829, 3634, 4550, 0, 4551, 4971, 3634, 4523, 3634, 0, 4620, 3634, 0, 3641]

## Mecab

In [3]:
tokenizer = Mecab()

In [6]:
text = "아버지가 방에 들어가신다"

In [7]:
print(tokenizer.morphs(text))

['아버지', '가', '방', '에', '들어가', '신다']

## BPE
- OOV 문제를 완화하는 대표적인 서브워드 분리 알고리즘 
- OOV란 ? 모르는 단어로 인해 문제를 푸는 것이 까다로워지는 상황 : Out-of-vocabulary
- 연속적으로 가장 많이 등장한 글자의 쌍을 찾아서 하나의 글자로 병합하는 방식을 수행

## [ref]
- https://github.com/google/sentencepiece/issues/517 > sentencepiece runtimeerror